.App {
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;

  height: 100vh;
}
.content > * {
  margin: 3em 0;
}
.content .button {
  font-size: 2em;
  background-color: white;
  padding: 0.5em 1em;
  border-radius: 1em;
}
.content .gap {
  flex: 1;
}
